@model Medienverwaltung.Models.TitelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TitelViewModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Typ.TypName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ.TypName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interpret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interpret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Erscheinung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Erscheinung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beschreibung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beschreibung)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TitelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
